<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236204217589-aeura26btf3plaaqik2659alpqhv2ibl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236204217589-aeura26btf3plaaqik2659alpqhv2ibl</string>
	<key>API_KEY</key>
	<string>AIzaSyAPPGpkkBMpj0cSd4ej8j8x_pMt0Y8_BDE</string>
	<key>GCM_SENDER_ID</key>
	<string>236204217589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.goldenrod.icommute</string>
	<key>PROJECT_ID</key>
	<string>icommute-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>icommute-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236204217589:ios:a4fee3fb8b8301940e21bc</string>
	<key>DATABASE_URL</key>
	<string>https://icommute-firebase.firebaseio.com</string>
</dict>
</plist>